<div class="wrap-auth">
    <div class="wrap-auth-content">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="form" *ngIf="!isLoading">
            <h1 class="form-title">
                LOGIN
            </h1>
            <div *ngIf="this.error" class="errorMsg large">
                {{this.error}}
            </div>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input
                    id="username"
                    placeholder="Username"
                    name="username"
                    class="form-input"
                    formControlName="username"
                    matInput
                />
                <mat-error *ngIf="authForm.get('username').hasError('required')">          <svg aria-hidden="true" class="errorMsg-icon" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>
                    Please Enter Username</mat-error>
                    <mat-error *ngIf="authForm.get('username').hasError('username')">          <svg aria-hidden="true" class="errorMsg-icon" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>
                    The Username Is Invalid</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    id="password"
                    matInput
                    placeholder="Password"
                    class="form-input"
                    name="password"
                    formControlName="password"
                />
                    <mat-error *ngIf="authForm.get('password').hasError('required')">           <svg aria-hidden="true" class="errorMsg-icon" fill="currentColor" focusable="false" width="16px" height="16px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg> Please Enter A Password</mat-error>
                </mat-form-field>
                <div class="form-control">
                <button
                    type="submit"
                    class="form-button"
                    mat-flat-button
                    [disabled]="!authForm.valid"
                >
                    Sign In
                </button>
                </div>
            </form>
        </div>
    </div>
  </div>